---
name: user_reset_password
resource: User
resource_owner: anyone
redirect_to: /sign-in
flash_notice: Your password has been updated. You can now log in.
fields:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
  password_confirmation:
    property_options:
      virtual: true
authorization_policies:
  - token_is_valid
---
{% form %}
<input name="token" value="{{ context.params.token }}" type="hidden">
<input name="email" value="{{ form.email }}" type="hidden">

<div>
  <label for="password">Password
    <input name="{{ form_builder.fields.password.name }}" id="password" type="password">
    {% if form_builder.errors.password %}
        <p>{{ form_builder.errors.password }}</p>
    {% endif %}
  </label>
</div>

<div>
  <label for="password">Password confirmation
  <input name="{{ form_builder.fields.password_confirmation.name }}" id="password_confirmation" type="password">
  {% if form_builder.errors.password_confirmation %}
    <p>{{ form_builder.errors.password_confirmation }}</p>
  {% endif %}
  </label>
</div>

<div>
  <button type="submit">Reset Password</button>
  <a href="/todo/sign-in">
    <button type="button" class="cancel-button">Cancel</button>
  </a>
</div>
{% endform %}