---
name: send_recover_password
to: '{{ form.email }}'
delay: 0
enabled: true
trigger_condition: true
from: 'Niko <me@niko.com>'
reply_to: no-reply@niko.com
subject: Reset password instructions
layout_path: mailer
---
{%- execute_query 'get_user_with_password_token', email: form.email, result_name: 'g' -%}
<h1>Hi {{ g.user.first_name }}!</h1>

<p>To reset your password, follow the link: <a href="{{ platform_context.host }}/reset-password?token={{ g.user.default.password_token | url_encode }}&amp;email={{ g.user.email | url_encode }}">reset password!</a></p>